# Default ignored files
/shelf/
/workspace.xml
/misc.xml
/modules.xml
/vcs.xml
/../SpeedConverter.iml
/libraries/junit_jupiter.xml
/uiDesigner.xml
/codeStyles/*
/../test/coverageReports/academy.learnprogramming/*
/../test/coverageReports/jacoco-resources/*
/../test/coverageReports/*


